{% extends './base.html' %}

{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<div style="text-align: center;">

    <div>
        <h3>
            Welcome to Groupo de tres
        </h3>
    </div>
    <div>
            <img src="/static/images/japan.png" width="150" height="150" alt="Japan Flag">

    </div>
    <a href="/chat/" style="color:inherit;text-decoration: none;">
        <button class="btn btn-dark">Join Chat Room</button>
    </a>
    
</div>

{% endblock %}